---
apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  namespace: prowlarr
spec:
  type: ClusterIP
  ports:
    - port: 9696
      targetPort: prowlarr
  selector:
    app: prowlarr
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: prowlarr
  annotations:
    external-dns.alpha.kubernetes.io/hostname: prowlarrdb.crt.house
    metallb.universe.tf/address-pool: internal
  labels:
    app: prowlarr
spec:
  type: LoadBalancer
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: postgres
  selector:
    app: postgres
